html,
body,
#root {
  background-color: #301934;
  color: white;
  height: 100%;
  font-family: 'arial';
  margin: 0;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
  padding: 3px;
}

iframe
{
    display: none;
}